# Target build files
target/
*.class

# Node modules & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and sensitive data
.env
.env.local
*.pem

# IDE & Editor settings
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
